#tweetSection {
 background-color: #ffffff;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tweetProfile {
 display: flex;
 flex-direction: column;
 align-items: center;
}

#tweetProfile img {
 width: 50px;
 height: 50px;
 border-radius: 50%;
}

#tweetName {
 margin: 0;
 margin-top: 5px;
}

#tweetUsername {
 margin: 0;
 color: #657786;
}

#tweetDate {
 margin: 0;
 color: #657786;
}

#tweetContent {
 margin: 10px 0;
}

#tweetActions {
 margin-top: 10px;
 color: #657786;
}
